<!DOCTYPE html>
<html lang="en">
<head>
 <!--Meta tag allows it to be mobile device friendly-->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
 <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

 <title>My Webpage</title>
 <!-- Add bootstrap --------------------------------------------->
</head>

    <body>
            <header class="header">
                 Welcome to our clinical trial database!
                 <div> <em class="mission">Our Mission: We strive to help investigators match with patients to speed up clinical trial enrollment and advance science!</em> </div>
            </header>
            <main>
                <!-- br creates a break in the page or a new space-->
                <p>
                    <div class="who">Who we serve</div>
                    <ol>
                        <li "list-group-item">Patients across the United States who are interested in participating in research</li>
                        <li "list-group-item">Hospitals and academic medicine who wish to be more involved in leading medicine and technology</li>
                        <li "list-group-item">Pharmacuetical and Biotech companies who need help recruiting patients for research and development</li>
                        <li "list-group-item">Patients who have a history of pulmonary hypertension</li>
                    </ol>
                </p>
                    <!-- <ol> tag creates an ordered list -->

                        <div>
                            <p class="eligible">Have you had a right heart catheterization to diagnose pulmonary hypertension?</p>
                            <label for="question1-yes">Yes</label>
                            <input type="radio" name="question1" id="question1-yes" value="yes">
                            <label for="question1-no">No</label>
                            <input type="radio" name="question1" id="question1-no" value="no">
                        </div>

                        <div>
                            <p class="eligible">Do you see a pulmonary hypertension physician at least twice a year?</p>
                            <label for="question2-yes">Yes</label>
                            <input type="radio" name="question2" id="question2-yes" value="yes">
                            <label for="question2-no">No</label>
                            <input type="radio" name="question2" id="question2-no" value="no">
                        </div>

                        <div>
                            <p class="eligible">Are you comfortable being in a trial with a drug or device that has not been approved by the FDA?</p>
                            <label for="question3-yes">Yes</label>
                            <input type="radio" name="question3" id="question3-yes" value="yes">
                            <label for="question3-no">No</label>
                            <input type="radio" name="question3" id="question3-no" value="no">
                        </div>

                        <button class="answer">Check Eligibility</button>
                        <p id="feedback" class="text-bg-primary p-3"></p>

                            <script>
                            let checkAnswerButton = document.querySelector('.answer');
                            let feedbackElement = document.getElementById('feedback');

                            checkAnswerButton.addEventListener('click', function() {
                                let question1Answer = document.querySelector('input[name="question1"]:checked').value;
                                let question2Answer = document.querySelector('input[name="question2"]:checked').value;
                                let question3Answer = document.querySelector('input[name="question3"]:checked').value;

                                if (question1Answer === 'yes' && question2Answer === 'yes' && question3Answer === 'yes') {
                                    feedbackElement.textContent = 'You are eligible!';
                                } else {
                                    feedbackElement.textContent = 'Sorry, you are not eligible.';
                                }
                            });

                            </script>
            </main>
            <footer>

                <div class = "IfEligible">
                    <a href="/add_patient" class ="d-block">If eligible, add yourself to our database so we can contact you!</a>
                </div class="mt-4">


                <div>
                    If interested in more information, please call (111) 111-1111 or email "thisisnotarealemail@gmail.com" for more information
                </div>


                <div class="fixed-bottom">Company founded by the Michael Scott foundation and Meredith Palmer ProAm fun run</div>

            </footer>
        </body>
</html>